
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --color--text: #FFD900;
  --btn--hover: #FFD900;
  --btn--back: #FFD900;
  --box-shadow:#FFD900;
  --color--selection: #FFD900;
}

::selection {
  background: var(--color--selection) !important;
 color: white !important;
 }


body {
  background-image: url(IMAGE/back1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resume-section {
  width: 85%;
  height: 80%;
  background-image: url(IMAGE/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.resume-section .intro-text {
  width: 70%;
  text-align: center;
  justify-content: flex-start;
  transform: translateY(80px);
}

.intro-text h1{
  font-size: 6em;
  color: var(--color--text);
}

.intro-text h2 {
  font-size: 6em;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.resume-section .image-button {
  position: absolute;
  bottom: 0;
}

.image-button .one{
  position: relative;
}

.one img {
  width: 470px;
  height: 470px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.one .start-button {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  width: max-content;
  padding: 15px 30px;
  font-size: 1.3em;
  background-color: var(--btn--back);
  color: white;
  border: none;
  border-radius: 10px;
  transform: translateX(-50%);
  cursor: pointer;
}

.start-button:hover {
  background-color: white;
  color: var(--btn--hover);
  box-shadow: 0 6px ;
}

/** Media queries **/
/* mobile devices */
@media (min-width: 305px) and (max-width: 550px) {
  .resume-section {
    height: 85%;
    position: relative;
  }
  
  .resume-section .intro-text {
    width: 90%;
    transform: translateY(40px);
  }
  
  .intro-text h1{
    font-size: 2.5em;
    margin-bottom: 00px;
  }
  
  .intro-text h2 {
    font-size: 3em;
  }
  
  .one img {
    width: 350px;
    height: 350px;
  }
  
  .one .start-button {
    padding: 15px 25px;
    font-size: 1.2em;
  }
}

/** Tablette **/
@media (min-width: 551px) and (max-width: 1200px) {
  
  .resume-section .intro-text {
    width: 90%;
    transform: translateY(80px);
  }
  
  .intro-text h1{
    font-size: 3.8em;
    margin-bottom: 50px;
  }
  
  .intro-text h2 {
    font-size: 4em;
  }
  
  .one img {
    width: 500px;
    height: 500px;
  }
  
  .one .start-button {
    padding: 15px 25px;
    font-size: 1.5em;
  }
}

/** Desktop **/
@media (min-width: 1201px) and (max-width: 1280px) {
  .resume-section .intro-text {
    width: 90%;
    transform: translateY(80px);
  }
  
  .intro-text h1{
    font-size: 4em;
  }
  
  .intro-text h2 {
    font-size: 5em;
  }
  
  .one img {
    width: 370px;
    height: 370px;
  }
  
  .one .start-button {
    padding: 15px 30px;
    font-size: 1.5em;
  }

}